body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-image: url('fundooo.png.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .botao-inicio {
    position: absolute;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  
  .botao-inicio:hover {
    background-color: #45a049;
  }